.contact_content{
    .container{
        border-left: 1px solid $gray-color;
        border-right: 1px solid $gray-color;
        background-color: $white-color;

        display: flex;
        justify-content: space-around;
        align-items:start;

        color: $primary-color;

        p{
            padding: 3%;
            font-size: 1.5rem;
            font-weight: 600;
            width: 30%;
            margin-left: 3rem;
            a{
                color: $primary-color;
            }
        }
        form{
            padding: 3%;
            width: 40%;
            padding-right: 7%;
            position:relative;

            .spinner-parent {
                position:absolute;
                top: 0;
                left :0;
                height: 100%;
                width: 100%;
                backdrop-filter: blur(0.1rem);
                z-index: 999;
                display: none;
                .spinner-overlay {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                }
            }

            .contact-sweet-msg {
                position: absolute;
                bottom: 45%;
                left: -20%;
                height: 27vh;
                width: 52%;
                overflow: hidden;
                border-radius: 1rem;
                opacity: .9;
                display: none;
                img {
                    height: 100%;
                    width: 100%;
                }
                .close-sweet-msg {
                    position: absolute;
                    top: 0;
                    right: 0.5rem;
                    font-size: 25px;
                    padding: 1.5%;
                    font-weight: 700;
                    cursor: pointer;
                    &:hover {
                        transform: scale(.90);
                    }
                }
            }
            textarea, input{
                padding: 1rem;
                margin: 1rem;
                width: 100%;
                border: 2px solid $pink-color;
                border-radius: 1rem;
            }
            button{
              margin-left: 1rem;
              width: 15rem;  
            }
            
        }
    }
}

@media screen and (max-width: 800px) {
    .contact_content{
        .container{
            border-left: 1px solid $gray-color;
            border-right: 1px solid $gray-color;
            background-color: $white-color;
    
            display: block; //here
            justify-content: space-around;
            align-items:start;
    
            color: $primary-color;
    
            p{
                padding: 3%;
                font-size: 1.5rem;
                font-weight: 600;
                width: 80%;
                margin-left: 1rem;
                a{
                    color: $primary-color;
                }
            }
            form{
                margin: 0 auto;
                width: 80%;
                padding: .5rem;
                textarea, input{
                    padding: 1rem;
                    margin: 1rem auto;
                    width: 92%;
                    border: 2px solid $pink-color;
                    border-radius: 1rem;
                }
                button{
                  margin-left: 1rem;
                  width: 15rem;  
                }

                .contact-sweet-msg {
                    left: 26%;
                }
                
            }
        }
    }
}