.contact_content{
    border-left: 1px solid $gray-color;
    border-right: 1px solid $gray-color;
    background-color: $white-color;

    display: flex;
    padding: .5rem;
    color: $primary-color;

    .desc,form {
        margin-top: 4rem;
        margin-bottom: 4rem;

        #submitForm{
            width: 16rem;
            padding: 1.2rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .desc {
        width: 40%;
        padding: .5rem;
        box-sizing: border-box;

        p{
            margin-left: 20%;
        }
    } 
    
    form {
        width: 60%;
        padding: .5rem;
        box-sizing: border-box;
    }
    .form-group {
        width: 80%;
        margin: 1.8rem auto;
    }
    .form-control {
        width: calc(100% - 1.5rem);
        padding: 1rem;
        border: 1px solid $pink-color;
        border-radius: 0.5rem;
        box-sizing: border-box;
    }

    p{
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1.5rem auto;
        line-height: 1.9rem;
        width: 80%;
        a{
            color: $primary-color;
        }
    }
    form{
        // padding-right: 7%;
        position:relative;

        .form-group{
            input{
                width: 35rem;
                padding: 1.3rem;
                font-size: 1rem;
            }
            textarea{
                height: 150px;
                resize: none;
                font-size: 1rem;
            }
        }

        .spinner-parent {
            position:absolute;
            top: 0;
            left :0;
            height: 100%;
            width: 100%;
            backdrop-filter: blur(0.1rem);
            z-index: 999;
            display: none;
            .spinner-overlay {
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }

        .contact-sweet-msg {
            position: absolute;
            bottom: 45%;
            left: -20%;
            height: 27vh;
            width: 52%;
            overflow: hidden;
            border-radius: 1rem;
            opacity: .9;
            display: none;
            img {
                height: 100%;
                width: 100%;
            }
            .close-sweet-msg {
                position: absolute;
                top: 0;
                right: 0.5rem;
                font-size: 25px;
                padding: 1.5%;
                font-weight: 700;
                cursor: pointer;
                &:hover {
                    transform: scale(.90);
                }
            }
        }
        
    }
}

@media screen and (max-width: 1336px) {
    .contact_content{
        form{
            // padding-right: 7%;
            position:relative;
    
            .form-group{
                input{
                    width: 100%;
                    padding: 1.3rem;
                    font-size: 1rem;
                }
                textarea{
                    height: 150px;
                    resize: none;
                    font-size: 1rem;
                }
            }

            #submitForm{
                width: 11.125rem;
                padding: 1rem;
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
    }
    
}


@media screen and (max-width: 900px) {
    .contact_content{

        display: block;
        .desc, form {
            width: 100%;
        }
        form {
            padding: 0;
        }
        .desc p {
            font-size: 1.2rem;
            text-align: center;
            width: 90%;
            margin-left: 2%;
        }
        .form-group {
            width: 90%;
        }
        .form-control {
            width: 100%;
        }
        .btn {
            width: 100%;
        }

    }
}