.login_banner2{
        border-left: 1px solid $gray-color;
        border-right: 1px solid $gray-color;
        background-color: $blue-color;

        display:flex;
        height: 100%;
        padding: 1rem;
        color: $white-color;

        .contact_msg, .contact_info {
            width: 50%;
            padding: .5rem;
        }
        .contact_msg {
            .desc {
                width:100;
            }
            .desc p {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 2rem;
                position:relative;
                img{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    box-sizing: border-box;
                    height: 5rem;
                    width: 5rem;
                    opacity: 0.8;
                }
            }
        }
}

@media screen and (max-width: 600px) {
    .login_banner2 {
        display: block;
        .contact_msg, .contact_info {
            width: 100%;
            margin-bottom: 1.5rem;
        }
        .contact_msg {
            .desc p {
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 2rem;
                position:relative;
                text-align: center;
                img{
                   display: none;
                }
            }
        }
        .contact_info {
           ul li {
            text-align: center;
            font-size: 1.2rem;
           }
        }
    }
}

// @media screen and (max-width: 1080px) {
//     .login_banner2{
//         .container{
           
//             display: block;
//             height: 40vh;
//             text-align: center;
    
//             .contact_msg{
//                 position: relative;
//                 width: 78%;
//                 padding: 2rem;
//                 p{
//                     font-size: 1.6rem;
//                     font-weight: 600;
//                 }
//                 img{
//                     position: absolute;
//                     bottom: -7rem;
//                     right: 1.4rem;
//                 }
//             }
//             .contact_info{
//                 width: 90%;
//                 text-align: center;
                         
//             }
//         }
//     } 
// }

// @media screen and (max-width: 1080px)  and (orientation: landscape) {
//     .login_banner2{
//         .container{
//             height: 65vh;
//         }
//     } 
// }