.login_banner{
    .container{
        border-left: 1px solid $gray-color;
        border-right: 1px solid $gray-color;
        background-color: $primary-color;
        padding-top: 5rem;

        display: flex;
        justify-content: space-around;
        align-items: center;

        overflow: hidden;
        
        .contact_banner{
            
            color: $white-color;
            overflow: hidden;

            p:first-child{
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 2rem;
                padding-top: 3rem;
                padding-left: 3rem;
            }
            p:nth-child(2){
                font-size: 1.3rem;
                padding-left: 3rem;
                margin-bottom: 2rem;
            }
            width: 50%;
        }
        
        img{
            margin: 3rem;
            height: 15rem;
            width: auto;
        }
    }
}

@media screen and (max-width: 800px) {
    .login_banner{
        .container{
           
            display: flex;
            flex-direction: column;
            
            .contact_banner{
                color: $white-color;
                // text-align: center;
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 2rem;
                width: 85%;
                p:first-child {
                    font-size: 1.6720rem;
                }
                & > p {
                    padding: 0 !important;
                    text-align: center;
                }
            }
            
            img{
                margin: 0;
                padding: 0;
                height: 15rem;
                width: auto;
                margin-bottom: 2rem;
            }
        }
    }
}