// .login_banner2{
//         border-left: 1px solid $gray-color;
//         border-right: 1px solid $gray-color;
//         background-color: $blue-color;

//         display:flex;
//         height: 100%;
//         padding: 1rem;
//         color: $white-color;

//         .contact_msg, .contact_info {
//             width: 50%;
//             padding: .5rem;
//             display: flex;
//             justify-content:center;
//             align-items: center;
//             padding: 3rem;
//         }

//         .contact_msg {
//             .desc {
//                 width:100;
//             }
//             .desc p {
//                 font-size: 1.6rem;
//                 font-weight: 600;
//                 position:relative;
//                 margin-left: 10%;
//                 img{
//                     position: absolute;
//                     bottom: -3rem;
//                     right: 0;
//                     box-sizing: border-box;
//                     height: 5rem;
//                     width: 5rem;
//                 }
//             }
//         }
// }
// @media screen and (max-width: 1710px) {
//     .login_banner2{
//         .contact_msg {
//             .desc p {
//                 width: 90%; // modified
//                 img{
//                     right: -4rem; // modified
//                 }
//             }
//         }
//     }
// }

// @media screen and (max-width: 1080px) {
//     .login_banner2{
//         .container{
           
//             display: block;
//             height: 40vh;
//             text-align: center;
            
            
//             .contact_msg{
//                 position: relative;
//                 width: 78%;
//                 padding: 2rem;
//                 p{
//                     font-size: 1.6rem;
//                     font-weight: 600;
//                 }
//                 img{
//                     position: absolute;
//                     bottom: -7rem;
//                     right: -1.4rem;
//                 }
//             }
//             .contact_info{
//                 width: 90%;
//                 text-align: center;
                         
//             }
//         }
//     } 
// }

// @media screen and (max-width: 1080px)  and (orientation: landscape) {
//     .login_banner2{
//         .container{
//             height: 65vh;
//         }
//     } 
// }

// @media screen and (max-width: 850px) {
//     .login_banner2{

//         flex-direction: column;
//         .contact_msg, .contact_info {
//             padding: 1rem;
//         }
//         .contact_msg{
//             width: 100%;  
//             position: relative;
//             justify-content: center;
//             align-items: center;
//             p{
//                 position: relative;
//                 display: block;
//                 text-align: center;
                
//                 img{
//                     position: absolute;
//                     top: 3rem;
//                     left: 23rem;
//                 } 
//             }
//             .desc p {
//                 margin-left: 0;
//             }
           
//         }
//         .contact_info{
//             width: 100%;          
//         }
        
//     } 
// }

// @media screen and (max-width: 450px) {
//     .login_banner2{

//         flex-direction: column;
    
//         .contact_msg{
//             width: 100%;  
//             position: relative;
//             justify-content: center;
//             align-items: center;
//             p{
//                 position: relative;
//                 display: block;
//                 text-align: center;
//                 img{
//                     position: absolute;
//                     top: 6rem;
//                     left: 15rem;
//                 } 
//             }
           
//         }
//         .contact_info{
//             width: 100%;          
//         }
        
//     } 
// }


.login_banner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-color;
    background: $blue-color;
    height: 100%;
    padding: 1em;
    .contact_msg, .contact_info {
        width: 910px;
    }
    .contact_msg {
        .desc {
            margin: 0 auto;
            position: relative;
            width: 421px;
            p { font-size: 1.6rem; font-weight: 600; margin: 0 auto !important;}
            img {
                top: 44px;
                position: absolute;
                width: 94px;
                right: 0;
            }
        }
    }
    .contact_info table {
        margin: 0 auto;
    }
}

@media screen and (max-width: 852px) {
    .login_banner2 {
        .contact_msg {
            .desc {
                p {
                    font-size: 1rem;
                    width: 240px;
                }
                img {
                    top: 34px;
                    width: 58px;
                    right: 51px;
                }
            }
        }
        .contact_info {
            table {
                font-size: 15px !important;
            }
        }
    }
}

@media screen and (max-width: 626px) {
    .login_banner2 {
        // display: block;
        .contact_msg, .contact_info {
            width: 100%;
        }
        .contact_msg .desc {
            margin: 0 0 1.5rem; 
            text-align: left;
             p {margin: 0 !important}
            width: 242px;
            img {
                right: 9px;
            }
        }
        .contact_info {
            margin: 0 0 1rem;
            table {margin: 0;}
        }
    }
}

@media screen and (max-width: 520px) {
    .login_banner2 {
        display: block;
        .contact_msg {
            .desc {
                margin: 0 auto 1.5rem;
            }
        }
        .contact_info {
            table {
                margin: 0 auto;
            }
        }
    }
}