#accordion-item1{
    color: $primary-color;
    div{
        margin-top: 1rem;
    }
    
    #acd1{
        margin-top: 1rem;
    }
    #acd2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        div{
            border:1px solid $pink-color;
            border-radius: 1.2rem;
            width: 27%;
            display: block;
            padding: 1rem;
            text-align: center;

            p{
                font-size: 1rem;
                font-weight: 600;
                margin: 1rem;
            }

            ul{
                text-align: left;
                margin: 0 1rem 1rem 1rem;
                li{
                    list-style:disc;
                    color: $orange-color;
                    margin-bottom: 1rem;
                    span{
                        color:$primary-color
                    }
                }
                
            }
        }
    }
    #acd3{
        background-color: $primary-color;
        display: flex;
        position: relative;
        padding: 2rem;
        margin-top: 3rem;
        border-radius: 2rem;
        color: white;
        
        #acd3_banner{
            display: block;
           
            #acd3_banner_1{
                color:$orange-color;
                font-size: 1rem;
            }
            #acd3_banner_2{
                color:$white-color;
                font-size: 1rem;
                font-weight: 100;
                display: block;
                width: 80%;
            }
        }
        img{
            position: absolute;
            bottom: 2rem;
            right: 1rem;
            width: 10rem;
            height: auto;
        }
    }
}

@media screen and (max-width: 750px){
    #accordion-item1{
       
        #acd2{
           
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            div{
                width: 80%;
                display: block;
                padding: 1rem;
                text-align: center;
    
                p{
                    font-size: 1rem;
                    font-weight: 600;
                    margin: 1rem;
                }
    
                ul{
                    text-align: left;
                    margin: 0 1rem 1rem 1rem;
                    li{
                        list-style:disc;
                        color: $orange-color;
                        margin-bottom: 1rem;
                        span{
                            color:$primary-color
                        }
                    }
                    
                }
            }
        }
        
        #acd3{
            
            display: block;
            
            #acd3_banner{
                
                #acd3_banner_2{
                    width: 100%;
                }
            }
            img{
                position: static;
                bottom: 2rem;
                right: 1rem;
                width: 10rem;
                height: auto;
            }
        }
    }
}