.insurance_contents{
    padding: 1rem;
    color: $primary-color;
    background: $white-color;
        padding-bottom: 6rem;
        .contents-parent {
            padding: .5rem;
            width: 80;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
            .images {
                width: 28%;
                position: relative;
                & > img {
                    position: absolute;
                    right:0;
                    top: -1rem;
                    height: 5rem;
                    width: 5rem;
                }
            }
            .desc  {
                width: 70%;
                margin-bottom: 1rem;
                & > p {
                    width: 73%;
                    margin-bottom: 1.5rem;
                }
                & > p:not(:first-child) {
                    font-size: 1.2rem;
                    font-weight: 500;
                }
                .desc-title {
                    font-size: 1.8rem;
                    font-weight: 700;
                }
            }
        }
}

@media screen and (max-width: 600px){
    .insurance_contents{
        .contents-parent {
            display: block;
            .images, .desc {
                width: 100%;
                text-align: center;
            }
            .images {
                margin-bottom: 1rem;
                & > img {
                    position:static;
                    margin: 0 auto;
                    height: 7rem;
                    width: 7rem;
                }
            }
            .desc {
                width: 100%;
                & > p {
                    width: 100%;
                }
                & > p:not(:first-child) {
                    font-size: 1.1rem;
                    margin: 1.5rem auto;
                    text-align:left;
                }
                .desc-title {
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-align:left;
                }
            }
        }
    }
}

