html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: $ligthgray-color;
    line-height: 1.5;
    user-select: none;
}

.container{
    width: $container-lg;
    margin: 0 auto;
}

.alertBorder {
    border: 1px solid red !important;
}


img {
    display: block;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

section{
    margin-top: 6rem;
}

.btn_big{
    @include button_big();
}

.btn{
    @include button();
}
.btn_vdetail{
    @include button_vdetail();
}

.btn_blue{
    @include button($white-color, $blue-color);
}

.btn-primary{
    @include button($white-color, $primary-color)
}

// spinner loading]
/* Define the styles for the loading spinner */
.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db; /* Change the color as needed */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* Apply rotation animation */
    margin: 20px auto; /* Adjust margin as needed */
    /* Initially hide the spinner */
}

/* Define the rotation animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* -----------------  MEDIA QUERIES (MEDIUM DEVICES) -------------- */
@media screen and (max-width: 1024px) {
    .container{
        width: $container-md;
    }

    section {
        & >p{
            width: 55%;
        }
    }
}

/* -----------------  MEDIA QUERIES (SMALL DEVICES) -------------- */
@media screen and (max-width: 600px) {
    .section{
        & >p{
            width: $container-md;
        }
    }
}