.home_social_impact{
    overflow: hidden;
    .container{
        display: flex;
        flex-wrap: wrap;
        border-left: 1px solid $gray-color;
        border-right: 1px solid $gray-color;
        background-color: $gray-color;
        color: $primary-color;

        #left, #right{
            flex: 1;
            padding: 6rem;
        }

        #left{

            div{
                padding: 2rem;
                p:first-child {
                    font-size: 1.4rem;
                    font-weight: 700;   
                }
         
                p:nth-child(2) {
                    margin-top: 1rem;
                    font-size: 0.9rem;
                    font-weight: 500; 
                }
            }
        }

        #right{
            div{
                position: relative;
                width: 100%;
                ul{
                    top:0;
                    left: 0;
                    background-color: $pink-color;
                    border-radius: 2rem;
                    padding: 2rem;

                    li{
                        font-size: 1.3rem;
                        font-weight: 500;
                    }

                    li:first-child {
                        border-bottom: 1px dotted $primary-color;
                        padding-bottom: 2rem;
                    }
                    li:nth-child(2){
                        padding-top: 2rem;
                        padding-bottom: 2rem;
                        border-bottom: 1px dotted $primary-color;
                        span{
                            font-size: 0.8rem;
                            font-style: italic;
                        }
                    }
                    li:nth-child(3){
                        padding-top: 2rem;
                    }
                }
                img{
                    height: 9rem;
                    width: auto;
                    position: absolute;
                    top: -3rem;
                    right: -4rem;
                }
            }
        }
    }
}

@media screen and (max-width: 788px) {
    .home_social_impact{
        .container{
            #left, #right{
                padding: 3rem;
            }
        }
    }
}

@media screen and (max-width: 602px) {
    .home_social_impact{
        .container{
            display: inline-block;
            #left{
               div{
                padding: 0;
               }
            }
            #right{
                padding: 0rem 2rem 3rem 2rem;
                margin-top: 15px !important;
                div {
                    ul li:first-child {
                        padding-right: 50px;
                    }
                    img {
                        top: -3.5rem;
                        right: 0rem;
                    }
                }
            }
        }
    }
}