.section1{
    width: 100%;
    .container{
        background-color: $white-color;
        border-left: 1px solid $gray-color;
        border-right: 1px solid $gray-color;
        background: lighten($white-color, 8%);
    
        display: flex;

        .section_left,
        .section_right {
            flex: 1;
            padding:6rem;        
        }

        .section_left{
            font-size: 1.7rem;
            font-weight: 600;
            color: $primary-color;
        }

        .section_right {
            font-size: 1.08rem;
            font-weight: 500;
            color: $primary-color;
        }

    }
}

@media screen and (max-width: 602px) {
    .section1{
        background: $white-color;
        .container{
            display: inline-block;
            margin-bottom: 4.8rem;
            
            .section_left {
                padding: 2rem 4rem;
                font-size: 1.5rem;        
            }

            .section_right {
                font-size: 1rem;
                padding: 0rem 4rem 3rem        
            }
        }
    }
}