.home_cards{
    
    .container{
        border-left: 1px solid $gray-color;
        border-right: 1px solid $gray-color;
        background-color: $white-color;

        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        #micro,
        #financial,
        #insurance{

            flex: 1;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 5.5rem;
            
            div{
                border: 1px solid #e8e8e8;
                border-radius: 2rem;
                padding: 3rem;
                display: inline-block;
                justify-content: center;
                align-items: center;
                text-align: center;
                max-width: 21rem;
                min-width: 20rem;
                height: 21rem;

                p{
                    height: 8rem;
                }

                img{
                    display: inline-block;
                    width: 12rem;
                    margin-bottom: 1.3rem;
                }

                button{
                    margin-top: 2rem;
                }
            }
        }

        #micro
        {
            div{
                margin-left: 2.5rem;
                p{
                    color: $primary-color;
                    font-size: 1rem;
                }
            }
        }

        #financial
        {
            div{
                background-color: $gray-color;
                p{
                    color: $primary-color;
                    font-size: 1rem;
                }
            }
        }

        #insurance
        {
            div{
                margin-right: 2.5rem;
                background-color: $primary-color;
                p{
                    color: $white-color;
                    font-size: 1rem;
                }
            }
        }
    }
}


@media screen and (max-width: 1024px) {
    .home_cards{
        .container{
            display: inline-block;
            
            #micro{
                div{
                    margin-top: 2rem;
                }
            }

            #micro,
            #financial,
            #insurance{
                div{
                    width: 19rem;
                    margin:auto;
                    margin-bottom: 2rem;
                }
            }


        }
    }
}

@media screen and (max-width: 600px) {
    .home_cards{
        .container{
            display: block;
            #micro,
            #financial,
            #insurance{
                div{
                    width: 100%;
                    padding: 10px !important;
                }
            }

            #micro{
                div{
                    margin-top: 2rem;
                }
            }
        }
    }
}