.home_banner3{
    .container{
        border-left: 1px solid $gray-color;
        border-right: 1px solid $gray-color;
        background-color: $blue-color;
        
        display: flex;
        justify-content: space-around;

        overflow: hidden;

        #hb3_left{
            width: 50%;
            position: relative;
            padding: 3rem;
            margin-left: 1%;
            
            p{
                color: $white-color;
                font-size: 1.7rem;
                font-weight: 600;
                z-index: 1;
            }

            img:nth-child(2){
                position: absolute;
                top: 5rem;
                left: 3rem;
                width: 10rem;
                height: auto;
            }

            img:nth-child(3){
                position: absolute;
                bottom: 2rem;
                right: 7rem;
                height: 8rem;
                width: auto;
        
            }
        }
        #hb3_right{
            display: flex;
            justify-content:end;
            align-items: center;
            a{
                width: fit-content;
            }
        }
    }
}

@media screen and (max-width: 1124px) {
    .home_banner3{
        .container{
          
            display: block;
            flex-direction: column;
            justify-content:start;
            #hb3_left{
                width: 70%;
                padding-top: 3rem;
                margin-left: 1%;
            }

            #hb3_right{
                display: flex;
                justify-content:start;
                align-items: center;
                margin-left: 3rem;
                margin-top: -2rem;
                padding-bottom: 2rem;
                a{
                    width: fit-content;
                }
            }
            
        }
    }
    
}

@media screen and (max-width: 600px) {
    .home_banner3{
        .container{
          
            display: block;
            flex-direction: column;
            justify-content:start;
            #hb3_left{
               & img:last-child {
                right: 1rem !important;
               }
            }
            
        }
    }
    
}